/* app css stylesheet */
@import '_reset/_reset';
//these are the contents of compass reset
//excluding reset-html5 mixin

@import '_eppstein/_eppstein';
@import '_library/_library';
@import '_foundation/_foundation';
@import '_pages/_pages';

body {
  padding-top: 0;
  @include block-centered(960px);
  position: relative;
  overflow: hidden;
}









