<section id="buttons">
  <h1>Buttons</h1>
  <ul class="elements">
    <li id="buttons">
      <h2 class="label"><code>button</code> tags and the <code>button</code> class</h2>
      <div class="notes">
        <p>Since there is a <code>button</code> tag, the <code>button</code> class deserves to be in the markup. They come with minimal styles, but if they are being included within a frequently used component (such as a form), then they should hopefully have additional style settings pre-applied.</p>
      </div>
      <div class="demo">
        <button>Click me</button>
        <a href="" class="button">And me</a>
      </div>
      <div class="code">
        <pre>
          <code>
%button Click me
%a.button And me
          </code>
        </pre>
      </div>
    </li>
    <li id="disabled-buttons">
      <h2 class="label">Disabled buttons</h2>
      <div class="demo">
        <button class="disabled">Disabled</button>
      </div>
      <div class="code">
        <pre>
          <code>
%button.disabled Disabled
          </code>
        </pre>
      </div>
    </li>
  </ul>
  <ul class="utilities">
    <li id="button-mixin">
      <h2 class="label">=button</h2>
      <div class="internals">
        <p>This mixin can be used to configure button colors and sizes. There shouldn't be many cases where in the CSS we have to include this mixin in addition to extending the base button class, since the things that need to look like buttons are typically <code>button</code> tags or items that have the <code>button</code> class on them.</p>
        <ul>
          <div class="label">Optional arguments:</div>
          <li><code>$button-color: false</code><p>(quoted string) The name of an item from the <code>$button-colors</code> list.</p></li>
          <li><code>$button-size: false</code><p>(quoted string) The name of an item from the <code>$button-sizes</code> list.</p></li>
          <li><code>$c: false</code><p>The color of the text.</p></li>
          <li><code>$c-hover: false</code><p>The color of the text on hover. Most of the time the color of the text does not change on hover.</p></li>
          <li><code>$bgc: false</code><p>The background color of the button.</p></li>
          <li><code>$bgc-hover: false</code><p>The background color of the button on hover.</p></li>
          <li><code>$font-size: false</code><p>The font-size of the text.</p></li>
          <li><code>$lines: false</code><p>(integer) The height of the button in terms of multiples of <code>$base-line-height</code>.</p></li>
          <li><code>$lines-horizontal-padding: false</code><p>(integer) The horizontal padding of the button in terms of multiples of <code>$base-line-height</code>.</p></li>
        </ul>
      </div>
      <div class="demo">
        <button>One</button>
        <button>Two</button>
        <button>Three</button>
      </div>
      <div class="code">
        <pre>
          <code>
%button:first-of-type
  +button($button-color: 'green', $button-size: 'medium')

%button:nth-of-type(2)
  +button($button-size: 'medium', $c: white, $bgc: $c-red, $bgc-hover: lighten($c-red, 10%))

%button:nth-of-type(3)
  +button($button-color: 'orange', $font-size: 11px, $lines: 7, $lines-horizontal-padding: 3)
          </code>
        </pre>
      </div>
    </li>
    <li id="button-colors">
      <h2 class="label">$button-colors</h2>
      <div class="internals">
        <ul>
          <div class="label">Items:</div>
          <li><code>'green'</code></li>
          <li><code>'orange'</code></li>
        </ul>
      </div>
      <div class="demo">
        <button>I'm green</button>
        <button>I'm orange</button>
      </div>
      <div class="code">
        <pre>
          <code>
button:first-of-type
  +button($button-color: 'green')

button:first-of-type
  +button($button-color: 'orange')
          </code>
        </pre>
      </div>
    </li>
    <li id="button-sizes">
      <h2 class="label">$button-sizes</h2>
      <div class="internals">
        <ul>
          <div class="label">Items:</div>
          <li><code>'medium'</code></li>
          <li><code>'jumbo'</code></li>
        </ul>
      </div>
      <div class="demo">
        <button>Medium button</button>
        <button>Jumbo button</button>
      </div>
      <div class="code">
        <pre>
          <code>
button:first-of-type
  +button($button-size: 'medium')

button:first-of-type
  +button($button-size: 'jumbo')
          </code>
        </pre>
      </div>
    </li>
  </ul>
</section>