<section id="concepts">
  <ul class="elements">
    <li>
      <div class="label"> Common Core State Standard ID </div>
      <div class="style-note">
        <div class="label">Description</div>
        <ul class="bulleted">
          <li>Appear on collections, sub-collections, sets, and lessons.</li>
        </ul>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
        <ul class="examples">
          <li>
            <div class="ccid">
              <span>CCID</span>
              4.NF.3, 4.NF.4
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="label"> Descriptions </div>
      <div class="style-note">
        <div class="label">Description</div>
        <ul class="bulleted">
          <li>Appear on collections, sub-collections, sets, and lessons.</li>
        </ul>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
        <ul class="bulleted">
          <li>The description may display in full, partially, or collapsed. Visibility will be toggled by a zippy widget.</li>
        </ul>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
        <ul class="examples">
          <li>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, labore, quibusdam maxime dolore voluptatum ipsa repudiandae nam praesentium quae illum!
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="label">Titles</div>
      <div class="style-note">
        <div class="label">Description</div>
        <ul class="bulleted">
          <li>Appear on collections, sub-collections, sets, and lessons.</li>
        </ul>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
    <li>
      <div class="label">Thumbnails</div>
      <div class="style-note">
        <div class="label">Description</div>
        <ul class="bulleted">
          <li>Appear on lessons.</li>
        </ul>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
    <li>
      <div class="label">Labels</div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
  </ul>
</section>