<section id="forms">
  <h1>Forms</h1>
  <ul class="elements">
    <li id="inputs">
      <h2 class="label">Inputs</h2>
    </li>
    <li id="labels">
      <h2 class="label">Labels</h2>
    </li>
    <li id="checkboxes">
      <h2 class="label">Checkboxes</h2>
    </li>
    <li id="radio-buttons">
      <h2 class="label">Radio buttons</h2>
    </li>
    <li id="error-states">
      <h2 class="label">Error states</h2>
    </li>
    <li id="help-text">
      <h2 class="label">Help text</h2>
    </li>
  </ul>
</section>