<section id="miscellaneous">
  <h1>Miscellaneous</h1>
  <ul class="elements">
    <li>
      <h2 class="label">Flash messages</h2>
      <div class="demo">
        <div id="flash" class="success">Something good just happened.</div>
        <div id="flash" class="warning">Something bad just happened.</div>
      </div>
      <div class="code">
        <pre>
          <code>
#flash.success Something good just happened
#flash.warning Something bad just happened
          </code>
        </pre>
      </div>
    </li>
    <li>
      <h2 class="label">Alerts</h2>
    </li>
    <li id="video-player">
      <h2 class="label">Video player</h2>
    </li>
    <li id="thumbnails">
      <h2 class="label">Thumbnails</h2>
    </li>
  </ul>
</section>