<section id="modules">
  <ul class="elements">
    <li>
      <div class="label">Collection</div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
    <li>
      <div class="label">Sub-collection</div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
    <li>
      <div class="label">Lesson sets</div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
    <li>
      <div class="label">Tools</div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
    <li>
      <div class="label">Lesson resource</div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
    <li>
      <div class="label">Non-lesson resources</div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
  </ul>
</section>
