<section id="type">
  <h1>Type</h1>
  <ul class="elements">
    <li id="headings">
      <h2 class="label">Headings</h2>
      <div class="notes">
        <p>Every page should have an <code>h1</code>.</p>
      </div>
      <div class="demo">
        <h1>H1 tag</h1>
        <h2>H2 tag</h2>
        <h3>H3 tag</h3>
        <h4>H4 tag</h4>
        <h5>H5 tag</h5>
        <h6>H6 tag</h6>
      </div>
      <div class="code">
        <pre>
          <code>
%h1 H1 tag
%h2 H2 tag
%h3 H3 tag
%h4 H4 tag
%h5 H5 tag
%h6 H6 tag
          </code>
        </pre>
      </div>
    </li>
    <li>
      <h2 class="label">Links</h2>
    </li>
    <li>
      <h2 class="label">Unordered lists</h2>
    </li>
    <li>
      <h2 class="label">Ordered lists</h2>
    </li>
    <li>
      <h2 class="label">Flash messages</h2>
    </li>
    <li>
      <h2 class="label">Alerts</h2>
    </li>
  </ul>
</section>