<section id="type">
  <ul class="notes bulleted">
    <h3>Notes</h3>
    <li>Open Sans looks best thin and light and not too small.</li>
  </ul>
  <ul class="elements">
    <li>
      <div class="label"> Ordered lists </div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
        <ul class="examples">
          <li>
            <ol>
              <li>Dogs</li>
              <li>Cats</li>
              <li>Fairies</li>
            </ol>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>