<section id="widgets">
  <ul class="elements">
    <li>
      <div class="label"> Carousel </div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
    <li>
      <div class="label"> Sliding drawer </div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
    <li>
      <div class="label">Zippy</div>
      <div class="style-note">
        <div class="label">Description</div>
          <ul class="bulleted">
            <li>Used to toggle full visibility of "description" text.</li>
          </ul>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
        <ul class="examples">
          <li ng-controller="demoZippyCtrl">
            <div class="zippy" zippy-title="{{title}}">
              {{text}}
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="label">Navbar</div>
      <div class="style-note">
        <div class="label">Description</div>
      </div>
      <div class="style-note">
        <div class="label">Styling notes</div>
      </div>
      <div class="style-note">
        <div class="label">Examples</div>
      </div>
    </li>
  </ul>
</section>