@mixin panel($bgc: false, 
             $lines-vertical-padding: false, 
             $lines-horizontal-padding: $lines-vertical-padding, 
             $font-size: $base-font-size) {
  @if $bgc { background-color: $bgc }
  @if $lines-vertical-padding {
    @include padding-leader($lines: $lines-vertical-padding, $font-size: $font-size);
    @include padding-trailer($lines: $lines-vertical-padding, $font-size: $font-size);
    padding-left: rhythm($lines: $lines-horizontal-padding, $font-size: $font-size);
    padding-right: rhythm($lines: $lines-horizontal-padding, $font-size: $font-size);
  }
}