@mixin symbol($symbol, $placement: 'before', $color: 'inherit', $size: 'inherit') {
  $ss-class: '.ss-' + $symbol;
  &:#{$placement} {
    @extend .ss-icon;
    color: $color;
    font-size: $size;
  }
  @extend #{$ss-class};
}

@mixin circled-symbol($size-in-lines, $bgc) {
  background-color: $bgc;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  @include square($size-in-lines * $base-line-height);
  line-height: $size-in-lines * $base-line-height;
}