@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.clearfix { @include clearfix(); }

@mixin symbol($symbol, $placement: 'before', $color: 'inherit', $size: 'inherit') {
  $ss-class: '.ss-' + $symbol;
  &:#{$placement} {
    @extend .ss-icon;
    color: $color;
    font-size: $size;
  }
  @extend #{$ss-class};
}

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin block-centered($width) {
  width: $width;
  margin-left: auto;
  margin-right: auto
}

@mixin strikethrough-divider($c-line, $w-mask, $h-mask, $centered: "", $bgc-mask: white) {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    z-index: -1;
  }
  &:before {
    width: 100%;
    height: 1px;
    top: 50%;
    background-color: $c-line;
  }
  &:after {
    top: 0;
    width: $w-mask;
    height: $h-mask;
    background-color: $bgc-mask;
  }
  @if $centered {
    &:after {
      left: 50%;
      margin-left: -($w-mask/2);
    }
  }
}

.circled-ol {
  list-style: none;
  counter-reset: numList;
  li {
    position: relative;
    &:before {
      position: absolute;
      counter-increment: numList;
      content: counter(numList);
      text-align: center;
      border-radius: 50%;
    }
  }
}

@mixin circled-ol($padding-left: "", $left: 0, $top: 0, $font-size: inherit, $line-height: 2, $color: white, $background-color: $c-light-gray) {
  $size: $line-height + 'em';
  @if $padding-left == "" {
    $padding-left: $line-height + 'em';
  }
  li {
    padding-left: #{$padding-left};
    &:before {
      left: $left;
      top: $top;
      font-size: $font-size;
      line-height: $line-height;
      @include square(#{$size});
      color: $color;
      background-color: $background-color;
    }
  }
}

@mixin force-vertical-center-with-absolute-positioning($height) {
  position: absolute;
  top: 50%;
  height: $height;
  margin-top: -.5*($height);
}








