$base-font-size: 13px; //for compass vertical rhythm - this is equal to bootstrap's $baseFontSize variable
$base-line-height: 5px;

$fs-h1: 42px !default;
$fs-h2: 30px !default;
$fs-h3: 24px !default;
$fs-h4: 20px !default;
$fs-h5: 18px !default;
$fs-p: 18px !default;
$fs-li: 18px !default;

$c-black: #1e1e1e;
$c-light-gray: #d4d4d4;
$c-gray: #a09f9f;
$c-green: #6eb43f;
$c-warm-smoke: #faf8f6;
$c-smoke: whitesmoke;
$c-orange: #ff5a00;
$c-blue: #0093d0;
$c-dark-blue: #1e5065;

$c-bright-text: $c-black;
$c-subdued-text: $c-gray;
$c-text: $c-gray;
$c-callout-text: $c-green;

$c-link-default: $c-gray;
$c-link-hover: $c-green;

$speed-transition: 250ms;

