@charset "UTF-8";
/* app css stylesheet */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

.clearfix, .collection-container .tools {
  *zoom: 1; }
  .clearfix:before, .collection-container .tools:before, .clearfix:after, .collection-container .tools:after {
    display: table;
    content: ""; }
  .clearfix:after, .collection-container .tools:after {
    clear: both; }

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-standard.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSStandard";
  src: url("../lib/symbolset/ss-standard/webfonts/ss-standard.eot");
  src: url("../lib/symbolset/ss-standard/webfonts/ss-standard.eot?#iefix") format("embedded-opentype"), url("../lib/symbolset/ss-standard/webfonts/ss-standard.woff") format("woff"), url("../lib/symbolset/ss-standard/webfonts/ss-standard.ttf") format("truetype"), url("../lib/symbolset/ss-standard/webfonts/ss-standard.svg#SSStandard") format("svg");
  font-weight: normal;
  font-style: normal; }

.ss-icon, .bulleted li:before, #styleguide .utilities .internals ul li:before, #styleguide #styleguide_notes ul li:before, .side-tabs li.active:before, #styleguide .tabs li.active:before, .zippy.opened .title:before, .zippy.closed .title:before, #styleguide .utilities #symbol-set .button:before, #styleguide .utilities #symbol-set
button:before, .collection-container .collection-heading #grade-chooser:before,
.collection-container .collection-heading #subject-chooser:before, .collection-container .showcase .sidetabs li.selected:before, .collection-container .tools li.mastery_quiz:before, .collection-container .tools li.diagnostic_quiz:before, .collection-container .tools li.practice_problems:before, .collection-container .tools li.example_work:before, .collection-container .tools li.performance_task:before, .collection-container .tools li.expert_commentary:before, .ss-icon.ss-standard, .bulleted li.ss-standard:before, #styleguide .utilities .internals ul li.ss-standard:before, #styleguide #styleguide_notes ul li.ss-standard:before, .side-tabs li.ss-standard.active:before, #styleguide .tabs li.ss-standard.active:before, .zippy.opened .ss-standard.title:before, .zippy.closed .ss-standard.title:before, #styleguide .utilities #symbol-set .ss-standard.button:before, #styleguide .utilities #symbol-set
button.ss-standard:before, .collection-container .collection-heading .ss-standard#grade-chooser:before,
.collection-container .collection-heading .ss-standard#subject-chooser:before, .collection-container .showcase .sidetabs li.ss-standard.selected:before, .collection-container .tools li.ss-standard.mastery_quiz:before, .collection-container .tools li.ss-standard.diagnostic_quiz:before, .collection-container .tools li.ss-standard.practice_problems:before, .collection-container .tools li.ss-standard.example_work:before, .collection-container .tools li.ss-standard.performance_task:before, .collection-container .tools li.ss-standard.expert_commentary:before,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-standard:before, [class*=" ss-"].ss-standard:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-standard.right:after, [class*=" ss-"].ss-standard.right:after {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

[class^="ss-"].right:before, [class*=" ss-"].ss-standard.right:before {
  display: none;
  content: ''; }

.ss-cursor:before, .ss-cursor.right:after {
  content: ''; }

.ss-crosshair:before, .ss-crosshair.right:after {
  content: '⌖'; }

.ss-search:before, .ss-search.right:after {
  content: '🔎'; }

.ss-zoomin:before, .ss-zoomin.right:after {
  content: ''; }

.ss-zoomout:before, .ss-zoomout.right:after {
  content: ''; }

.ss-view:before, .ss-view.right:after {
  content: '👀'; }

.ss-attach:before, .ss-attach.right:after {
  content: '📎'; }

.ss-link:before, .ss-link.right:after {
  content: '🔗'; }

.ss-move:before, .ss-move.right:after {
  content: ''; }

.ss-write:before, .collection-container .tools li.mastery_quiz:before, .collection-container .tools li.diagnostic_quiz:before, .collection-container .tools li.practice_problems:before, .ss-write.right:after, .collection-container .tools li.right.mastery_quiz:after, .collection-container .tools li.right.diagnostic_quiz:after, .collection-container .tools li.right.practice_problems:after {
  content: '✎'; }

.ss-writingdisabled:before, .ss-writingdisabled.right:after {
  content: ''; }

.ss-erase:before, .ss-erase.right:after {
  content: '✐'; }

.ss-compose:before, .ss-compose.right:after {
  content: '📝'; }

.ss-lock:before, .ss-lock.right:after {
  content: '🔒'; }

.ss-unlock:before, .ss-unlock.right:after {
  content: '🔓'; }

.ss-key:before, .ss-key.right:after {
  content: '🔑'; }

.ss-backspace:before, .ss-backspace.right:after {
  content: '⌫'; }

.ss-ban:before, .ss-ban.right:after {
  content: '🚫'; }

.ss-trash:before, .ss-trash.right:after {
  content: ''; }

.ss-target:before, .ss-target.right:after {
  content: '◎'; }

.ss-tag:before, .ss-tag.right:after {
  content: ''; }

.ss-bookmark:before, .ss-bookmark.right:after {
  content: '🔖'; }

.ss-flag:before, .ss-flag.right:after {
  content: '⚑'; }

.ss-like:before, .ss-like.right:after {
  content: '👍'; }

.ss-dislike:before, .ss-dislike.right:after {
  content: '👎'; }

.ss-heart:before, .ss-heart.right:after {
  content: '♥'; }

.ss-halfheart:before, .ss-halfheart.right:after {
  content: ''; }

.ss-star:before, .ss-star.right:after {
  content: '⋆'; }

.ss-halfstar:before, .ss-halfstar.right:after {
  content: ''; }

.ss-sample:before, .ss-sample.right:after {
  content: ''; }

.ss-crop:before, .ss-crop.right:after {
  content: ''; }

.ss-layers:before, .ss-layers.right:after {
  content: ''; }

.ss-phone:before, #styleguide .utilities #symbol-set .button:before, #styleguide .utilities #symbol-set
button:before, .ss-phone.right:after, #styleguide .utilities #symbol-set .right.button:after, #styleguide .utilities #symbol-set
button.right:after {
  content: '📞'; }

.ss-phonedisabled:before, .ss-phonedisabled.right:after {
  content: ''; }

.ss-rss:before, .ss-rss.right:after {
  content: ''; }

.ss-facetime:before, .collection-container .tools li.expert_commentary:before, .ss-facetime.right:after, .collection-container .tools li.right.expert_commentary:after {
  content: ''; }

.ss-reply:before, .ss-reply.right:after {
  content: '↩'; }

.ss-send:before, .ss-send.right:after {
  content: ''; }

.ss-mail:before, .ss-mail.right:after {
  content: '✉'; }

.ss-inbox:before, .ss-inbox.right:after {
  content: '📥'; }

.ss-chat:before, .ss-chat.right:after {
  content: '💬'; }

.ss-user:before, .ss-user.right:after {
  content: '👤'; }

.ss-femaleuser:before, .ss-femaleuser.right:after {
  content: '👧'; }

.ss-users:before, .ss-users.right:after {
  content: '👥'; }

.ss-cart:before, .ss-cart.right:after {
  content: ''; }

.ss-creditcard:before, .ss-creditcard.right:after {
  content: '💳'; }

.ss-dollarsign:before, .ss-dollarsign.right:after {
  content: '💲'; }

.ss-barchart:before, .ss-barchart.right:after {
  content: '📊'; }

.ss-piechart:before, .ss-piechart.right:after {
  content: ''; }

.ss-box:before, .ss-box.right:after {
  content: '📦'; }

.ss-home:before, .ss-home.right:after {
  content: '⌂'; }

.ss-globe:before, .ss-globe.right:after {
  content: '🌎'; }

.ss-navigate:before, .ss-navigate.right:after {
  content: ''; }

.ss-compass:before, .ss-compass.right:after {
  content: ''; }

.ss-signpost:before, .ss-signpost.right:after {
  content: ''; }

.ss-map:before, .ss-map.right:after {
  content: ''; }

.ss-location:before, .ss-location.right:after {
  content: ''; }

.ss-pin:before, .ss-pin.right:after {
  content: '📍'; }

.ss-database:before, .ss-database.right:after {
  content: ''; }

.ss-hdd:before, .ss-hdd.right:after {
  content: ''; }

.ss-music:before, .ss-music.right:after {
  content: '♫'; }

.ss-mic:before, .ss-mic.right:after {
  content: '🎤'; }

.ss-volume:before, .ss-volume.right:after {
  content: '🔈'; }

.ss-volumelow:before, .ss-volumelow.right:after {
  content: '🔉'; }

.ss-volumehigh:before, .ss-volumehigh.right:after {
  content: '🔊'; }

.ss-airplay:before, .ss-airplay.right:after {
  content: ''; }

.ss-camera:before, .ss-camera.right:after {
  content: '📷'; }

.ss-picture:before, .ss-picture.right:after {
  content: '🌄'; }

.ss-video:before, .ss-video.right:after {
  content: '📹'; }

.ss-play:before, .ss-play.right:after {
  content: '▶'; }

.ss-pause:before, .ss-pause.right:after {
  content: ''; }

.ss-stop:before, .ss-stop.right:after {
  content: '■'; }

.ss-record:before, .bulleted li:before, #styleguide .utilities .internals ul li:before, #styleguide #styleguide_notes ul li:before, .ss-record.right:after, .bulleted li.right:after, #styleguide .utilities .internals ul li.right:after, #styleguide #styleguide_notes ul li.right:after {
  content: '●'; }

.ss-rewind:before, .ss-rewind.right:after {
  content: '⏪'; }

.ss-fastforward:before, .ss-fastforward.right:after {
  content: '⏩'; }

.ss-skipback:before, .ss-skipback.right:after {
  content: '⏮'; }

.ss-skipforward:before, .ss-skipforward.right:after {
  content: '⏭'; }

.ss-eject:before, .ss-eject.right:after {
  content: '⏏'; }

.ss-repeat:before, .ss-repeat.right:after {
  content: '🔁'; }

.ss-replay:before, .ss-replay.right:after {
  content: '↺'; }

.ss-shuffle:before, .ss-shuffle.right:after {
  content: '🔀'; }

.ss-book:before, .ss-book.right:after {
  content: '📕'; }

.ss-openbook:before, .ss-openbook.right:after {
  content: '📖'; }

.ss-notebook:before, .ss-notebook.right:after {
  content: '📓'; }

.ss-grid:before, .ss-grid.right:after {
  content: ''; }

.ss-rows:before, .ss-rows.right:after {
  content: ''; }

.ss-columns:before, .ss-columns.right:after {
  content: ''; }

.ss-thumbnails:before, .ss-thumbnails.right:after {
  content: ''; }

.ss-desktop:before, .ss-desktop.right:after {
  content: '💻'; }

.ss-laptop:before, .ss-laptop.right:after {
  content: ''; }

.ss-tablet:before, .ss-tablet.right:after {
  content: ''; }

.ss-cell:before, .ss-cell.right:after {
  content: '📱'; }

.ss-battery:before, .ss-battery.right:after {
  content: '🔋'; }

.ss-batteryhigh:before, .ss-batteryhigh.right:after {
  content: ''; }

.ss-batterymedium:before, .ss-batterymedium.right:after {
  content: ''; }

.ss-batterylow:before, .ss-batterylow.right:after {
  content: ''; }

.ss-batteryempty:before, .ss-batteryempty.right:after {
  content: ''; }

.ss-clouddownload:before, .ss-clouddownload.right:after {
  content: ''; }

.ss-download:before, .ss-download.right:after {
  content: ''; }

.ss-cloudupload:before, .ss-cloudupload.right:after {
  content: ''; }

.ss-upload:before, .ss-upload.right:after {
  content: ''; }

.ss-fork:before, .ss-fork.right:after {
  content: ''; }

.ss-merge:before, .ss-merge.right:after {
  content: ''; }

.ss-refresh:before, .ss-refresh.right:after {
  content: '↻'; }

.ss-sync:before, .ss-sync.right:after {
  content: ''; }

.ss-loading:before, .ss-loading.right:after {
  content: ''; }

.ss-wifi:before, .ss-wifi.right:after {
  content: ''; }

.ss-connection:before, .ss-connection.right:after {
  content: ''; }

.ss-file:before, .collection-container .tools li.example_work:before, .collection-container .tools li.performance_task:before, .ss-file.right:after, .collection-container .tools li.right.example_work:after, .collection-container .tools li.right.performance_task:after {
  content: '📄'; }

.ss-folder:before, .ss-folder.right:after {
  content: '📁'; }

.ss-quote:before, .ss-quote.right:after {
  content: '“'; }

.ss-text:before, .ss-text.right:after {
  content: ''; }

.ss-font:before, .ss-font.right:after {
  content: ''; }

.ss-print:before, .ss-print.right:after {
  content: '⎙'; }

.ss-fax:before, .ss-fax.right:after {
  content: '📠'; }

.ss-list:before, .ss-list.right:after {
  content: ''; }

.ss-layout:before, .ss-layout.right:after {
  content: ''; }

.ss-action:before, .ss-action.right:after {
  content: ''; }

.ss-redirect:before, .ss-redirect.right:after {
  content: '↪'; }

.ss-expand:before, .ss-expand.right:after {
  content: '⤢'; }

.ss-contract:before, .ss-contract.right:after {
  content: ''; }

.ss-help:before, .ss-help.right:after {
  content: '❓'; }

.ss-info:before, .ss-info.right:after {
  content: 'ℹ'; }

.ss-alert:before, .ss-alert.right:after {
  content: '⚠'; }

.ss-caution:before, .ss-caution.right:after {
  content: '⛔'; }

.ss-logout:before, .ss-logout.right:after {
  content: ''; }

.ss-plus:before, .ss-plus.right:after {
  content: '+'; }

.ss-hyphen:before, .ss-hyphen.right:after {
  content: '-'; }

.ss-check:before, .side-tabs li.active:before, #styleguide .tabs li.active:before, .collection-container .showcase .sidetabs li.selected:before, .ss-check.right:after, .side-tabs li.right.active:after, #styleguide .tabs li.right.active:after, .collection-container .showcase .sidetabs li.right.selected:after {
  content: '✓'; }

.ss-delete:before, .ss-delete.right:after {
  content: '␡'; }

.ss-settings:before, .ss-settings.right:after {
  content: '⚙'; }

.ss-dashboard:before, .ss-dashboard.right:after {
  content: ''; }

.ss-notifications:before, .ss-notifications.right:after {
  content: '🔔'; }

.ss-notificationsdisabled:before, .ss-notificationsdisabled.right:after {
  content: '🔕'; }

.ss-clock:before, .ss-clock.right:after {
  content: '⏲'; }

.ss-stopwatch:before, .ss-stopwatch.right:after {
  content: '⏱'; }

.ss-calendar:before, .ss-calendar.right:after {
  content: '📅'; }

.ss-calendaradd:before, .ss-calendaradd.right:after {
  content: ''; }

.ss-calendarremove:before, .ss-calendarremove.right:after {
  content: ''; }

.ss-calendarcheck:before, .ss-calendarcheck.right:after {
  content: ''; }

.ss-calendardelete:before, .ss-calendardelete.right:after {
  content: ''; }

.ss-briefcase:before, .ss-briefcase.right:after {
  content: '💼'; }

.ss-cloud:before, .ss-cloud.right:after {
  content: '☁'; }

.ss-droplet:before, .ss-droplet.right:after {
  content: '💧'; }

.ss-up:before, .ss-up.right:after {
  content: '⬆'; }

.ss-upright:before, .ss-upright.right:after {
  content: '⬈'; }

.ss-right:before, .ss-right.right:after {
  content: '➡'; }

.ss-downright:before, .ss-downright.right:after {
  content: '⬊'; }

.ss-down:before, .ss-down.right:after {
  content: '⬇'; }

.ss-downleft:before, .ss-downleft.right:after {
  content: '⬋'; }

.ss-left:before, .ss-left.right:after {
  content: '⬅'; }

.ss-upleft:before, .ss-upleft.right:after {
  content: '⬉'; }

.ss-navigateup:before, .ss-navigateup.right:after {
  content: ''; }

.ss-navigateright:before, .ss-navigateright.right:after {
  content: '▻'; }

.ss-navigatedown:before, .ss-navigatedown.right:after {
  content: ''; }

.ss-navigateleft:before, .ss-navigateleft.right:after {
  content: '◅'; }

.ss-directup:before, .ss-directup.right:after {
  content: '▴'; }

.ss-directright:before, .zippy.closed .title:before, .ss-directright.right:after, .zippy.closed .right.title:after {
  content: '▹'; }

.ss-dropdown:before, .zippy.opened .title:before, .collection-container .collection-heading #grade-chooser:before,
.collection-container .collection-heading #subject-chooser:before, .ss-dropdown.right:after, .zippy.opened .right.title:after, .collection-container .collection-heading .right#grade-chooser:after,
.collection-container .collection-heading .right#subject-chooser:after {
  content: '▾'; }

.ss-directleft:before, .ss-directleft.right:after {
  content: '◃'; }

.ss-retweet:before, .ss-retweet.right:after {
  content: ''; }

.standard-link, nav a {
  -webkit-transition: color 250ms;
  -moz-transition: color 250ms;
  -ms-transition: color 250ms;
  -o-transition: color 250ms;
  transition: color 250ms;
  color: #a09f9f; }
  .standard-link:hover, nav a:hover {
    cursor: pointer;
    color: #6eb43f; }

.circled-ol {
  list-style: none;
  counter-reset: numList; }
  .circled-ol li {
    position: relative; }
    .circled-ol li:before {
      position: absolute;
      counter-increment: numList;
      content: counter(numList);
      text-align: center;
      border-radius: 50%; }

.bulleted li, #styleguide .utilities .internals ul li, #styleguide #styleguide_notes ul li {
  position: relative; }
  .bulleted li:before, #styleguide .utilities .internals ul li:before, #styleguide #styleguide_notes ul li:before {
    color: "inherit";
    font-size: "inherit"; }
  .bulleted li:before, #styleguide .utilities .internals ul li:before, #styleguide #styleguide_notes ul li:before {
    position: absolute; }

.subdued-text, .collection-container .lesson-set h3:before, .collection-container .tools h3 {
  color: #a09f9f; }

.bright-text {
  color: #1e1e1e; }

.callout-text, #styleguide section > h1, #styleguide ul.elements h2.label, #styleguide #styleguide_notes h1 {
  color: #6eb43f; }

.light-text, .switcher li, .side-tabs li, #styleguide .tabs li, #styleguide section > h1,
#styleguide h3.label,
#styleguide .notes p, #styleguide #styleguide_notes li,
#styleguide #styleguide_notes p, .collection-container .lesson-set h3:before, .collection-container .showcase .sidetabs li, .collection-container .tools h3, .collection-container .tools .toolsExpander .showcaseToolContent {
  font-weight: 300; }

.medium-text, .button,
button, #styleguide section > h1, #styleguide h2.label, #styleguide .notes a, #styleguide #styleguide_notes h3.label {
  font-weight: 400; }

.heavy-text {
  font-weight: 600; }

/**
 * UTILITIES
 */
.button,
button {
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  display: inline-block;
  border-radius: 40px;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0; }
  .button:hover,
  button:hover {
    cursor: pointer; }

/**
 * STANDARD SETTINGS
 */
.button-green, #styleguide .elements #symbol-set button.ss-icon, #styleguide .elements #symbol-set .zippy.opened button.title:before, .zippy.opened #styleguide .elements #symbol-set button.title:before, #styleguide .elements #symbol-set .zippy.closed button.title:before, .zippy.closed #styleguide .elements #symbol-set button.title:before, #styleguide .elements .utilities #symbol-set button.button:before, #styleguide .utilities .elements #symbol-set button.button:before, #styleguide .elements #symbol-set .utilities #symbol-set
button:before, #styleguide .utilities .elements #symbol-set #symbol-set
button:before, #styleguide .elements #symbol-set .collection-container .collection-heading button#grade-chooser:before, .collection-container .collection-heading #styleguide .elements #symbol-set button#grade-chooser:before,
#styleguide .elements #symbol-set .collection-container .collection-heading button#subject-chooser:before,
.collection-container .collection-heading #styleguide .elements #symbol-set button#subject-chooser:before, #styleguide .utilities #symbol-set .button, #styleguide .utilities #symbol-set
button, #styleguide .elements #buttons button,
#styleguide .elements #buttons .button,
#styleguide .utilities #button-green button,
#styleguide .utilities #button-medium button, #styleguide .utilities #button-sizes button {
  color: white;
  background-color: #6eb43f; }
  .button-green:hover, #styleguide .elements #symbol-set button.ss-icon:hover, #styleguide .elements #symbol-set .zippy.opened button.title:hover:before, .zippy.opened #styleguide .elements #symbol-set button.title:hover:before, #styleguide .elements #symbol-set .zippy.closed button.title:hover:before, .zippy.closed #styleguide .elements #symbol-set button.title:hover:before, #styleguide .elements .utilities #symbol-set button.button:hover:before, #styleguide .utilities .elements #symbol-set button.button:hover:before, #styleguide .elements #symbol-set .utilities #symbol-set
  button:hover:before, #styleguide .utilities .elements #symbol-set #symbol-set
  button:hover:before, #styleguide .elements #symbol-set .collection-container .collection-heading button#grade-chooser:hover:before, .collection-container .collection-heading #styleguide .elements #symbol-set button#grade-chooser:hover:before,
  #styleguide .elements #symbol-set .collection-container .collection-heading button#subject-chooser:hover:before,
  .collection-container .collection-heading #styleguide .elements #symbol-set button#subject-chooser:hover:before, #styleguide .utilities #symbol-set .button:hover, #styleguide .utilities #symbol-set
  button:hover, #styleguide .elements #buttons button:hover,
  #styleguide .elements #buttons .button:hover,
  #styleguide .utilities #button-green button:hover,
  #styleguide .utilities #button-medium button:hover, #styleguide .utilities #button-sizes button:hover {
    color: white;
    background-color: #89c75f; }

.button-medium, #styleguide .utilities #symbol-set .button, #styleguide .utilities #symbol-set
button, #styleguide .elements #buttons button,
#styleguide .elements #buttons .button,
#styleguide .utilities #button-green button,
#styleguide .utilities #button-medium button, #styleguide .elements #disabled-buttons button, #styleguide .utilities #button-colors button {
  font-size: 1.231em;
  line-height: 2.813em;
  padding-left: 1.563em;
  padding-right: 1.563em; }

html {
  font-size: 81.25%;
  line-height: 0.385em; }

html {
  line-height: 1.538em;
  font-family: 'Open Sans';
  color: #878585; }

h1 {
  font-size: 3.231em;
  line-height: 1.19em;
  margin-bottom: 0.238em; }

h2 {
  font-size: 2.308em;
  line-height: 1.167em;
  margin-bottom: 0.333em; }

h3 {
  font-size: 1.846em;
  line-height: 1.25em;
  margin-bottom: 0.417em; }

h4 {
  font-size: 1.538em;
  line-height: 1.25em;
  margin-bottom: 0.5em; }

h5 {
  font-size: 1.385em;
  line-height: 1.389em;
  margin-bottom: 0.556em; }

p {
  font-size: 1.385em;
  line-height: 1.389em; }

a {
  text-decoration: none; }

code {
  font-family: Consolas; }

body {
  padding-top: 1.923em;
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

nav {
  border-bottom-color: #d4d4d4;
  border-bottom-width: 0.077em;
  border-bottom-style: solid;
  padding-bottom: 0.692em;
  margin-top: 0.962em;
  margin-bottom: 0.769em; }
  nav a:not(:last-of-type) {
    margin-left: 1em; }
  nav a {
    float: right;
    text-transform: capitalize;
    font-size: 1.385em;
    line-height: 2.222em; }
    nav a.active {
      color: #6eb43f; }

.switcher {
  display: inline-block;
  border-style: solid;
  border-width: 1px; }
  .switcher li {
    display: inline-block; }
    .switcher li:hover {
      cursor: pointer; }

.tabs {
  display: inline-block; }
  .tabs li {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms; }
    .tabs li:hover {
      cursor: pointer; }

.side-tabs li.active:before, #styleguide .tabs li.active:before {
  color: "inherit";
  font-size: "inherit"; }

.zippy .title:hover {
  cursor: pointer; }
.zippy .title:before {
  margin-right: .35em; }
.zippy .body {
  overflow: hidden; }
.zippy.opened .title:before {
  color: "inherit";
  font-size: 0.75em; }
.zippy.closed .title:before {
  color: "inherit";
  font-size: 0.75em; }
.zippy.closed .body {
  height: 0; }

.fade-hide,
.fade-show {
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms; }

.fade-hide,
.fade-show.fade-show-active {
  opacity: 1; }

.fade-hide.fade-hide-active,
.fade-show {
  opacity: 0; }

.button-disabled {
  color: white;
  background-color: #d4d4d4; }
  .button-disabled:hover {
    color: white;
    background-color: #d4d4d4; }
  .button-disabled:hover {
    cursor: default; }

#styleguide section > h1 {
  font-size: 3.846em;
  line-height: 1.1em;
  margin-bottom: 0.8em; }
#styleguide .code code {
  font-size: 1.385em;
  line-height: 1.389em; }
#styleguide .code pre {
  margin-top: -1.538em; }
#styleguide h2.label {
  font-size: 2.692em;
  line-height: 1.143em;
  margin-bottom: 0.571em; }
#styleguide ul.utilities h2.label {
  color: #ff5a00;
  font-family: 'Consolas'; }
#styleguide .demo,
#styleguide .code {
  margin-top: 2.308em;
  border-top-color: #d4d4d4;
  border-top-width: 0.077em;
  border-top-style: solid;
  padding-top: 2.231em;
  position: relative; }
  #styleguide .demo:after,
  #styleguide .code:after {
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #d4d4d4;
    font-size: 1em;
    line-height: 1.923em;
    padding-left: 0.577em;
    padding-right: 0.577em;
    color: white; }
#styleguide .utilities .internals {
  margin-bottom: 1.923em;
  background-color: whitesmoke;
  padding-top: 1.154em;
  padding-bottom: 1.154em;
  padding-left: 1.538em;
  padding-right: 1.538em; }
  #styleguide .utilities .internals > p {
    margin-bottom: 0.833em; }
  #styleguide .utilities .internals .label {
    font-size: 1.385em;
    line-height: 1.389em;
    margin-bottom: 0.694em; }
  #styleguide .utilities .internals code {
    font-size: 1.385em;
    line-height: 1.389em; }
  #styleguide .utilities .internals p code {
    font-size: 1em;
    line-height: 1.389em; }
  #styleguide .utilities .internals ul li {
    padding-left: 1.5em; }
    #styleguide .utilities .internals ul li:before {
      left: 0.1em;
      top: 0.3em; }
  #styleguide .utilities .internals ul li:before {
    font-size: 7px; }
  #styleguide .utilities .internals ul li:before {
    color: silver; }
  #styleguide .utilities .internals ul:not(:first-of-type) {
    margin-top: 1.538em; }
  #styleguide .utilities .internals ul:not(:last-of-type) li {
    margin-bottom: 0.769em; }
  #styleguide .utilities .internals li {
    margin-top: 0.385em; }
#styleguide .demo {
  margin-bottom: 1.923em; }
#styleguide .demo:after {
  content: "demo"; }
#styleguide .code:after {
  content: "code"; }
#styleguide .switcher {
  border: none;
  float: right;
  border-color: #d4d4d4; }
  #styleguide .switcher li {
    font-size: 1.154em;
    line-height: 2em;
    padding-left: 0.769em;
    padding-right: 0.769em; }
  #styleguide .switcher li {
    color: #a09f9f; }
    #styleguide .switcher li.active {
      color: white;
      background-color: #d4d4d4; }
  #styleguide .switcher li:not(:first-of-type) {
    margin-left: -3px; }
#styleguide .tabbable {
  padding-top: 3.846em; }
#styleguide .tabs,
#styleguide .tab-content {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box; }
#styleguide .tabs {
  padding-right: 4em;
  width: 30%; }
  #styleguide .tabs li {
    font-size: 1.462em;
    line-height: 2.368em;
    position: relative;
    padding-left: 0.789em;
    padding-right: 0.789em; }
    #styleguide .tabs li:before {
      font-size: 0.85em;
      position: absolute;
      top: 50%;
      height: 45px;
      margin-top: -22.5px; }
    #styleguide .tabs li:before {
      right: 0.789em; }
  #styleguide .tabs li {
    color: #a09f9f; }
    #styleguide .tabs li.active, #styleguide .tabs li:hover {
      color: white;
      background-color: #6eb43f; }
    #styleguide .tabs li:before {
      color: white; }
#styleguide .tab-content {
  width: 69%;
  padding-bottom: 3.846em;
  position: relative;
  min-height: 10000px; }
  #styleguide .tab-content .tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
#styleguide #styleguide_notes {
  margin-top: 3.846em;
  margin-bottom: 3.846em; }
  #styleguide #styleguide_notes ul li {
    padding-left: 1.667em; }
    #styleguide #styleguide_notes ul li:before {
      left: 0.5em;
      top: 0.1em; }
  #styleguide #styleguide_notes ul li:before {
    font-size: 0.1em; }
  #styleguide #styleguide_notes ul li:before {
    color: #c7c7c7; }
  #styleguide #styleguide_notes li {
    font-size: 1.385em;
    line-height: 1.389em;
    margin-bottom: 0.556em; }
  #styleguide #styleguide_notes h2.label {
    margin-top: 1.143em; }
  #styleguide #styleguide_notes h3.label {
    margin-top: 1.042em; }
#styleguide #styleguide_notes p,
#styleguide .notes p {
  margin-bottom: 0.556em; }
#styleguide .nav-tabs li {
  font-size: 1.846em;
  line-height: 2.083em; }
#styleguide .elements #symbol-set .ss-icon, #styleguide .elements #symbol-set .bulleted li:before, .bulleted #styleguide .elements #symbol-set li:before, #styleguide .elements #symbol-set .utilities .internals ul li:before, #styleguide .utilities .internals ul .elements #symbol-set li:before, #styleguide .elements #symbol-set #styleguide_notes ul li:before, #styleguide #styleguide_notes ul .elements #symbol-set li:before, #styleguide .elements #symbol-set .side-tabs li.active:before, .side-tabs #styleguide .elements #symbol-set li.active:before, #styleguide .elements #symbol-set .tabs li.active:before, #styleguide .tabs .elements #symbol-set li.active:before, #styleguide .elements #symbol-set .zippy.opened .title:before, .zippy.opened #styleguide .elements #symbol-set .title:before, #styleguide .elements #symbol-set .zippy.closed .title:before, .zippy.closed #styleguide .elements #symbol-set .title:before, #styleguide .elements .utilities #symbol-set .button:before, #styleguide .utilities .elements #symbol-set .button:before, #styleguide .elements #symbol-set .utilities #symbol-set
button:before, #styleguide .utilities .elements #symbol-set #symbol-set
button:before, #styleguide .elements #symbol-set .collection-container .collection-heading #grade-chooser:before, .collection-container .collection-heading #styleguide .elements #symbol-set #grade-chooser:before,
#styleguide .elements #symbol-set .collection-container .collection-heading #subject-chooser:before,
.collection-container .collection-heading #styleguide .elements #symbol-set #subject-chooser:before, #styleguide .elements #symbol-set .collection-container .showcase .sidetabs li.selected:before, .collection-container .showcase .sidetabs #styleguide .elements #symbol-set li.selected:before, #styleguide .elements #symbol-set .collection-container .tools li.mastery_quiz:before, .collection-container .tools #styleguide .elements #symbol-set li.mastery_quiz:before, #styleguide .elements #symbol-set .collection-container .tools li.diagnostic_quiz:before, .collection-container .tools #styleguide .elements #symbol-set li.diagnostic_quiz:before, #styleguide .elements #symbol-set .collection-container .tools li.practice_problems:before, .collection-container .tools #styleguide .elements #symbol-set li.practice_problems:before, #styleguide .elements #symbol-set .collection-container .tools li.example_work:before, .collection-container .tools #styleguide .elements #symbol-set li.example_work:before, #styleguide .elements #symbol-set .collection-container .tools li.performance_task:before, .collection-container .tools #styleguide .elements #symbol-set li.performance_task:before, #styleguide .elements #symbol-set .collection-container .tools li.expert_commentary:before, .collection-container .tools #styleguide .elements #symbol-set li.expert_commentary:before {
  font-size: 1.846em;
  line-height: 1.25em;
  display: inline-block; }
#styleguide .elements #symbol-set button.ss-icon, #styleguide .elements #symbol-set .zippy.opened button.title:before, .zippy.opened #styleguide .elements #symbol-set button.title:before, #styleguide .elements #symbol-set .zippy.closed button.title:before, .zippy.closed #styleguide .elements #symbol-set button.title:before, #styleguide .elements .utilities #symbol-set button.button:before, #styleguide .utilities .elements #symbol-set button.button:before, #styleguide .elements #symbol-set .utilities #symbol-set
button:before, #styleguide .utilities .elements #symbol-set #symbol-set
button:before, #styleguide .elements #symbol-set .collection-container .collection-heading button#grade-chooser:before, .collection-container .collection-heading #styleguide .elements #symbol-set button#grade-chooser:before,
#styleguide .elements #symbol-set .collection-container .collection-heading button#subject-chooser:before,
.collection-container .collection-heading #styleguide .elements #symbol-set button#subject-chooser:before {
  margin-left: 1em;
  padding: .5em .5em .25em .5em;
  border-radius: 5px; }
#styleguide .utilities #symbol-set .button:before, #styleguide .utilities #symbol-set
button:before {
  color: "inherit";
  font-size: "inherit"; }
#styleguide .utilities #symbol-set .button:before, #styleguide .utilities #symbol-set
button:before {
  margin-right: .5em; }
#styleguide .elements #buttons button,
#styleguide .elements #buttons .button,
#styleguide .elements #buttons
button,
#styleguide .utilities #button-green button,
#styleguide .utilities #button-medium button {
  margin-right: .5em; }
#styleguide .utilities #button-colors button {
  color: white;
  background-color: #ff5a00; }
  #styleguide .utilities #button-colors button:hover {
    color: white;
    background-color: #ff7b33; }
#styleguide .utilities #button-sizes button {
  font-size: 1.538em;
  line-height: 3em;
  padding-left: 1.75em;
  padding-right: 1.75em; }
#styleguide ul.swatches h3 {
  margin-bottom: 0.833em; }
#styleguide ul.swatches > ul {
  margin-bottom: 3.077em; }
#styleguide ul.swatches li[class^="c-"] {
  margin-right: .5em;
  width: 9em;
  height: 9em;
  display: inline-block;
  position: relative; }
  #styleguide ul.swatches li[class^="c-"]:before {
    position: absolute;
    left: .5em;
    top: .4em;
    font-family: 'Consolas';
    font-size: 0.923em;
    line-height: 1.458em;
    background-color: whitesmoke;
    border: #d4d4d4;
    padding-top: .25em;
    padding-left: 0.417em;
    padding-right: 0.417em; }
  #styleguide ul.swatches li[class^="c-"].c-black {
    background-color: #1e1e1e; }
    #styleguide ul.swatches li[class^="c-"].c-black:before {
      content: "$c-black"; }
  #styleguide ul.swatches li[class^="c-"].c-gray {
    background-color: #a09f9f; }
    #styleguide ul.swatches li[class^="c-"].c-gray:before {
      content: "$c-gray"; }
  #styleguide ul.swatches li[class^="c-"].c-light-gray {
    background-color: #d4d4d4; }
    #styleguide ul.swatches li[class^="c-"].c-light-gray:before {
      content: "$c-light-gray"; }
  #styleguide ul.swatches li[class^="c-"].c-green {
    background-color: #6eb43f; }
    #styleguide ul.swatches li[class^="c-"].c-green:before {
      content: "$c-green"; }
  #styleguide ul.swatches li[class^="c-"].c-orange {
    background-color: #ff5a00; }
    #styleguide ul.swatches li[class^="c-"].c-orange:before {
      content: "$c-orange"; }

html {
  overflow-x: hidden; }

.collection-container {
  width: 959px;
  margin-left: auto;
  margin-right: auto;
  border-left: solid 1px #b9b9b9;
  border-right: solid 1px #b9b9b9;
  padding-top: 3.077em;
  padding-bottom: 7.692em; }
  .collection-container .collection-heading {
    border-color: #b9b9b9;
    border-top-width: 0.077em;
    border-top-style: solid;
    padding-top: 1.846em;
    border-bottom-width: 0.077em;
    border-bottom-style: solid;
    padding-bottom: 3.769em;
    padding-left: 25px;
    padding-right: 25px; }
    .collection-container .collection-heading #grade-chooser,
    .collection-container .collection-heading #subject-chooser,
    .collection-container .collection-heading ul {
      display: inline-block; }
    .collection-container .collection-heading #grade-chooser,
    .collection-container .collection-heading #subject-chooser,
    .collection-container .collection-heading li {
      font-size: 1.308em;
      line-height: 2.353em;
      font-weight: 300;
      padding-left: .75em;
      padding-right: .75em;
      box-sizing: border-box;
      margin-right: .1em; }
    .collection-container .collection-heading #grade-chooser,
    .collection-container .collection-heading #subject-chooser {
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      -ms-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms;
      padding-right: 1.85em;
      position: relative;
      border: solid 1px #c6c5c5; }
      .collection-container .collection-heading #grade-chooser:before,
      .collection-container .collection-heading #subject-chooser:before {
        color: "inherit";
        font-size: 0.5em; }
      .collection-container .collection-heading #grade-chooser:before,
      .collection-container .collection-heading #subject-chooser:before {
        position: absolute;
        right: 15px; }
      .collection-container .collection-heading #grade-chooser:hover,
      .collection-container .collection-heading #subject-chooser:hover {
        cursor: pointer;
        border-color: #a09f9f; }
    .collection-container .collection-heading ul {
      margin-left: .5em; }
      .collection-container .collection-heading ul li {
        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        -ms-transition: all 250ms;
        -o-transition: all 250ms;
        transition: all 250ms;
        background-color: whitesmoke;
        border: solid 1px whitesmoke;
        position: relative;
        display: inline-block;
        color: #878585; }
        .collection-container .collection-heading ul li:hover {
          cursor: pointer;
          background-color: #c1c0c0;
          color: white;
          border-color: #c1c0c0; }
        .collection-container .collection-heading ul li.active {
          background-color: #c1c0c0;
          border-color: #c1c0c0;
          color: white; }
    .collection-container .collection-heading h1 {
      font-size: 2.769em;
      line-height: 1.111em;
      font-weight: 300;
      margin-top: 1.25em;
      margin-bottom: 0em; }
      .collection-container .collection-heading h1 span {
        font-weight: 600; }
  .collection-container .sub-collection-title {
    background-color: whitesmoke;
    font-weight: 300;
    font-size: 1.923em;
    line-height: 1.2em;
    margin-bottom: 1.4em;
    padding-top: 0.8em;
    padding-bottom: 0.8em; }
    .collection-container .sub-collection-title:before {
      content: "1";
      background-color: #1e1e1e;
      color: #ddd;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      display: inline-block;
      text-align: center;
      margin-right: .275em;
      font-size: 0.88em;
      line-height: 1.591em;
      font-weight: 400; }
  .collection-container ul {
    list-style: none; }
  .collection-container .lesson-set {
    margin-bottom: 3.077em; }
    .collection-container .lesson-set h3:before {
      content: "Lesson set";
      text-transform: uppercase;
      margin-right: .45em;
      border-right: solid 1px #d4d4d4;
      padding-right: .45em; }
  .collection-container h2,
  .collection-container h3 {
    padding-left: 25px; }
  .collection-container h3 {
    text-transform: uppercase;
    padding-bottom: 0.625em; }
  .collection-container .conveyer-belt-container {
    position: relative; }
  .collection-container .conveyer-belt {
    white-space: nowrap;
    margin-left: 0;
    -webkit-transition: margin-left 250ms;
    -moz-transition: margin-left 250ms;
    -ms-transition: margin-left 250ms;
    -o-transition: margin-left 250ms;
    transition: margin-left 250ms; }
  .collection-container .conveyer-belt-control {
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 1px #a09f9f;
    border-radius: 50%;
    z-index: 100;
    width: 48px;
    box-sizing: border-box;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    position: absolute;
    top: 50%;
    height: 48px;
    margin-top: -24px;
    font-size: 1.846em;
    line-height: 2.188em;
    color: #939292; }
    .collection-container .conveyer-belt-control.left {
      left: -0.99em;
      padding-left: 10px; }
    .collection-container .conveyer-belt-control.right {
      right: -0.99em;
      padding-left: 12px; }
    .collection-container .conveyer-belt-control:hover {
      cursor: pointer;
      color: #1e1e1e;
      background-color: white;
      border: solid 1px #878585; }
  .collection-container .segment {
    white-space: normal;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    display: inline-block;
    position: relative;
    border: solid 1px #b9b9b9;
    margin-left: -1px;
    box-sizing: border-box;
    width: 321px;
    height: 245px;
    overflow: hidden; }
    .collection-container .segment:hover, .collection-container .segment.selected {
      border-color: #878585;
      z-index: 10; }
      .collection-container .segment:hover h4, .collection-container .segment.selected h4 {
        height: 130px; }
        .collection-container .segment:hover h4:before, .collection-container .segment.selected h4:before {
          background-color: #878585; }
    .collection-container .segment:hover {
      cursor: pointer; }
    .collection-container .segment img {
      width: 100%;
      height: 75%; }
    .collection-container .segment h4 {
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      -ms-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms;
      font-size: 1.231em;
      line-height: 1.563em;
      font-weight: 300;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 11.25px;
      color: #444;
      height: 75px;
      box-sizing: border-box;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: white; }
      .collection-container .segment h4:before {
        content: "";
        background-color: #b9b9b9;
        left: 20px;
        right: 20px;
        position: absolute;
        display: block;
        height: 1px;
        top: 0; }
      .collection-container .segment h4:after {
        content: "watch";
        text-transform: uppercase;
        position: absolute;
        top: 75px;
        left: 20px;
        font-size: 1.385em;
        line-height: 1.389em;
        color: #ff5a00; }
    .collection-container .segment:not(.visible) {
      opacity: .3; }
    .collection-container .segment.visible {
      opacity: 1; }
    .collection-container .segment.selected {
      z-index: 10; }
      .collection-container .segment.selected:before {
        content: "";
        position: absolute;
        display: block;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        background-color: #6eb43f;
        z-index: -1; }
      .collection-container .segment.selected h4:after {
        content: "now playing"; }
  .collection-container #hideshowcase,
  .collection-container #hideToolsExpander {
    font-size: 1.846em;
    line-height: 2.188em;
    width: 48px;
    height: 48px;
    background-color: #3c3a37;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: -24px;
    top: -24px;
    color: white; }
    .collection-container #hideshowcase:hover,
    .collection-container #hideToolsExpander:hover {
      cursor: pointer; }
  .collection-container .showcase {
    border-top: solid 3px #6eb43f;
    height: 451px;
    position: relative;
    z-index: 100;
    padding: 2.692em;
    background-color: #1e1e1e;
    box-sizing: border-box;
    border-bottom: solid 1px #b9b9b9; }
    .collection-container .showcase .tabcontent {
      width: 73%;
      height: 380px !important;
      border-right: solid 1px #444343;
      color: white;
      text-align: center;
      box-sizing: border-box; }
      .collection-container .showcase .tabcontent .preview {
        padding: 2.917em 2.917em 2.292em 1.667em;
        font-size: 1.846em;
        line-height: 1.25em;
        color: #898989;
        font-weight: 300; }
      .collection-container .showcase .tabcontent .hero-text {
        font-size: 2.5em;
        line-height: 1.083em;
        margin-bottom: 0.833em;
        color: white; }
    .collection-container .showcase .sidetabs {
      width: 27%;
      float: right; }
      .collection-container .showcase .sidetabs li {
        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        -ms-transition: all 250ms;
        -o-transition: all 250ms;
        transition: all 250ms;
        border-bottom: 1px solid #444343;
        font-size: 1.692em;
        line-height: 2.727em;
        padding-left: 25px;
        color: white; }
        .collection-container .showcase .sidetabs li:hover {
          cursor: pointer;
          color: white !important; }
        .collection-container .showcase .sidetabs li.selected {
          position: relative; }
          .collection-container .showcase .sidetabs li.selected:before {
            color: "inherit";
            font-size: "inherit"; }
          .collection-container .showcase .sidetabs li.selected:before {
            position: absolute;
            right: 0; }
        .collection-container .showcase .sidetabs li:not(.selected) {
          color: #898989; }
  .collection-container .tools li {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    position: relative;
    float: left;
    width: 320.6px;
    height: 130px;
    border: solid 1px #b9b9b9;
    box-sizing: border-box;
    margin-left: -1px;
    margin-top: -1px;
    color: white;
    font-weight: 300;
    border-right: none; }
    .collection-container .tools li.selected .tool-type:before, .collection-container .tools li.selected .tool-type:after {
      position: absolute;
      display: block;
      content: "";
      z-index: 100;
      width: 0;
      border-style: solid;
      bottom: -1px;
      left: 50%; }
    .collection-container .tools li.selected .tool-type:before {
      border-width: 0 26px 26px;
      border-color: #d4d4d4 transparent;
      margin-left: -26px; }
    .collection-container .tools li.selected .tool-type:after {
      border-width: 0 25px 25px;
      margin-left: -25px;
      border-color: #1e1e1e transparent; }
    .collection-container .tools li:not(.selected):hover {
      cursor: pointer;
      opacity: .85; }
    .collection-container .tools li:before {
      position: absolute;
      right: 30px;
      bottom: 0;
      font-size: 6.154em;
      line-height: 1.063em;
      color: rgba(255, 255, 255, 0.2); }
    .collection-container .tools li > div {
      padding: 1.923em 1.923em 1.538em;
      width: 100%;
      height: 100%;
      box-sizing: border-box; }
    .collection-container .tools li.mastery_quiz > div, .collection-container .tools li.diagnostic_quiz > div, .collection-container .tools li.practice_problems > div {
      background-color: #1e5065; }
    .collection-container .tools li.mastery_quiz:before, .collection-container .tools li.diagnostic_quiz:before, .collection-container .tools li.practice_problems:before {
      color: "inherit";
      font-size: "inherit"; }
    .collection-container .tools li.mastery_quiz:before, .collection-container .tools li.diagnostic_quiz:before, .collection-container .tools li.practice_problems:before {
      font-size: 3.846em;
      line-height: 1.1em;
      bottom: 18px;
      right: 25px; }
    .collection-container .tools li.example_work > div, .collection-container .tools li.performance_task > div {
      background-color: #6eb43f; }
    .collection-container .tools li.example_work:before, .collection-container .tools li.performance_task:before {
      color: "inherit";
      font-size: "inherit"; }
    .collection-container .tools li.example_work:before, .collection-container .tools li.performance_task:before {
      font-size: 4.615em;
      line-height: 1.083em;
      bottom: 20px;
      right: 22px; }
    .collection-container .tools li.expert_commentary > div {
      background-color: #0093d0; }
    .collection-container .tools li.expert_commentary:before {
      color: "inherit";
      font-size: "inherit"; }
  .collection-container .tools .tool-ccid {
    font-size: 1.231em;
    line-height: 1.25em;
    margin-bottom: 0.469em;
    font-weight: 400;
    color: #eee; }
  .collection-container .tools .tool-type {
    font-size: 1.846em;
    line-height: 1.25em; }
  .collection-container .tools .toolsExpander {
    position: relative;
    background-color: #1e1e1e;
    clear: both;
    color: white;
    padding: 1.538em 3.846em;
    text-align: center; }
    .collection-container .tools .toolsExpander .showcaseToolContent {
      padding-top: 2.222em;
      padding-bottom: 0.833em;
      font-size: 1.385em;
      line-height: 1.389em;
      text-transform: uppercase;
      color: #ddd; }
    .collection-container .tools .toolsExpander .showcaseToolType {
      font-size: 3.077em;
      line-height: 1.125em;
      padding-bottom: 1.75em;
      font-weight: 300; }

body {
  padding-top: 0;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden; }
