<object id="{{index}}" class="BrightcoveExperience">
    <param name="bgcolor" value="#FFFFFF">
    <param name="htmlFallback" value="true">
    <param name="width" value="{{data.width}}">
    <param name="height" value="{{data.height}}">
    <param name="playerID" value="{{data.playerID">
    <param name="playerKey" value="{{data.playerKey}}">
    <param name="isVid" value="true">
    <param name="isUI" value="true">
    <param name="dynamicStreaming" value="true">
    <param name="@videoPlayer" value="{{showcaseLesson.videoID}}">
    <param name="includeAPI" value="true">
    <param name="templateLoadHandler" value="BCL.onTemplateLoaded">
    <param name="templateReadyHandler" value="BCL.onTemplateReady">
</object>