#styleguide {

  section > h1 {
    $fs-h1: 50px;
    @include adjust-font-size-to($fs-h1);
    @include trailer($font-size: $fs-h1, $lines: 8);
    @extend .medium-text, .callout-text;
  }
  .code {
    code {@include adjust-font-size-to(18px); }
    pre {margin-top: -(emCalc(20px)) }
  }
  h2.label {
    $fs-h2: 35px;
    @include adjust-font-size-to($fs-h2);
    @include trailer($font-size: $fs-h2, $lines: 4);
    @extend .medium-text;
  }
  ul.elements h2.label { @extend .callout-text }
  ul.utilities h2.label { 
    color: $c-orange;
    font-family: 'Consolas';
  }
  section > h1,
  h3.label,
  .notes p { @extend .light-text; }
  .notes a { @extend .standard-link, .medium-text; }
  .demo,
  .code {
    @include leader(6);
    border-top-color: $c-divider;
    @include leading-border($lines: 6);
    position: relative;
    &:after {
      text-transform: uppercase;
      position: absolute;
      right: 0; top: 0;
      background-color: $c-light-gray;
      @include adjust-font-size-to(13px, 5);
      padding-left: rhythm($font-size: 13px, $lines: 1.5);
      padding-right: rhythm($font-size: 13px, $lines: 1.5);
      color: white;
    }
  }
  .utilities .internals {
    @include trailer(5);
    @include panel($bgc: $c-smoke, $lines-vertical-padding: 3, $lines-horizontal-padding: 4);
    > p {@include trailer($font-size: $fs-p, $lines: 3); }
    .label {
      @include adjust-font-size-to($fs-p);
      @include trailer($font-size: $fs-p, $lines: 2.5);
    }
    code {@include adjust-font-size-to($fs-p); }
    p code {@include adjust-font-size-to($fs-p, $from-size: $fs-p); }
    ul {
      @include bulleted-list($font-size: 8px, $top: .25em, $left: .2em);
      &:not(:first-of-type) {@include leader(4); }
      &:not(:last-of-type) {@include trailer(2) }
      li:not(:last-of-type) {@include trailer(2); }
    }
    li {@include leader(); }
  }
  .demo { @include trailer(5); }
  .demo:after { content: "demo" }
  .code:after { content: "code" }
  .switcher {
    border: none;
    float: right;
    @include switcher-size(15px, 6, 2);
    @include switcher-color($c-light-gray, $c-gray, white);
    li:not(:first-of-type) {@include fix-inline-block(-3px); }
  }
  .tabbable {@include padding-leader(10); }
  .tabs, 
  .tab-content {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  .tabs {
    padding-right: 4em;
    @extend .side-tabs;
    @include side-tabs-size(30%, 19px, 9, .85em, $with-background: true, $padding-lines: 3);
    @include side-tabs-color($c: $c-subdued-text, $c-active: white, $bgc: $c-green);
  }
  .tab-content {
    width: 69%;
    @include padding-trailer(10);
    position: relative;
    min-height: 10000px;
    .tab-pane {
      position: absolute;
      top: 0; left: 0; right: 0;
    }
  }
  #styleguide_notes {
    @include leader(10);
    @include trailer(10);
    h1 {@extend .callout-text; }
    h3.label { @extend .medium-text; }
    ul {@extend .bulleted-list; }
    li {
      @include adjust-font-size-to($fs-p);
      @include trailer($font-size: $fs-p, $lines: 2);
    }
    li,
    p { @extend .light-text; }
    h2.label {@include leader($font-size: $fs-h2, $lines: 8); }
    h3.label {@include leader($font-size: $fs-h3, $lines: 5); }
  }
  #styleguide_notes p,
  .notes p {@include trailer($font-size: $fs-p, $lines: 2); }
  .nav-tabs {
    li {@include adjust-font-size-to(24px, 10); }
  }
  .elements #a-tags .demo a,
  .elements #lists .demo li {@include adjust-font-size-to(18px); }
  .elements #font-family .demo {
    p { @include trailer($font-size: $fs-p) }
    p:nth-of-type(1) { @extend .light-text }
    p:nth-of-type(2) { @extend .medium-text }
    p:nth-of-type(3) { @extend .heavy-text }
    p:nth-of-type(4) { 
      @extend .light-text;
      @extend .emphasized;
    }
    p:nth-of-type(5) {
      @extend .medium-text;
      @extend .emphasized;
    }
  }
  .elements #symbol-set {
    .ss-icon {
      @include adjust-font-size-to(24px);
      display: inline-block;
    }
    button.ss-icon {
      margin-left: 1em;
      @include button($button-color: 'green');
      padding: .5em .5em .25em .5em;
      border-radius: 5px;
    }
  }
  .utilities #symbol-set {
    .button {
      @include button($button-size: 'medium', $button-color: 'green');
      @include symbol('phone');
      &:before {margin-right: .5em; }
    }
  }
  .utilities #circled-symbol {
    #alert {
      @include adjust-font-size-to(22px);
      @include symbol('alert', $color: white, $size: .65em);
      &:before {
        @include circled-symbol(6, $c-red);
        margin-right: .6em;
        margin-top: -5px;
        vertical-align: middle;
      }
    }
  }
  .utilities #panel .demo p {
    display: inline-block;
    @include panel($bgc: lighten($c-blue, 50%), $lines-vertical-padding: 2);
  }
  .utilities #dividers .demo p {
    display: inline-block;
    border-bottom-color: $c-blue;
    @include trailing-border($font-size: $fs-p, $width: 4px, $lines: 4);
  }
  .utilities #bulleted-list .demo ul,
  .utilities #circled-ol .demo ol,
  .utilities #circled-ol-placeholder .demo ol,
  .utilities #bulleted-list-placeholder .demo ul {
    li {
      @include adjust-font-size-to(16px);
      @include trailer($font-size: 16px, $lines: 4)
    }
  }
  .utilities #bulleted-list ul,
  .utilities #bulleted-list-placeholder .demo ul {@include bulleted-list; }
  .utilities #circled-ol ol,
  .utilities #circled-ol-placeholder ol {@include circled-ol(); }
  .utilities #emphasized p { @extend .emphasized }
  .utilities #subdued-text p { @extend .subdued-text }
  .utilities #bright-text p { @extend .bright-text }
  .utilities #callout-text p { @extend .callout-text }
  .utilities #light-text p { @extend .light-text }
  .utilities #medium-text p { @extend .medium-text }
  .utilities #heavy-text p { @extend .heavy-text; }
  .elements #buttons button,
  .elements #buttons .button,
  .utilities #button-colors button,
  .utilities #button-sizes button,
  .utilities #button-mixin button {margin-right: .5em; }
  .elements #buttons button,
  .elements #buttons .button {@include button($button-size: 'medium', $button-color: 'green') }
  .elements #disabled-buttons button {@include button($button-size: 'medium') }
  .utilities #button-colors button {
    @include button($button-size: 'medium');
    &:first-of-type {@include button($button-color: 'green') }
    &:last-of-type {@include button($button-color: 'orange') }
  }
  .utilities #button-sizes button {
    @include button($button-color: 'green');
    &:first-of-type {@include button($button-size: 'medium') }
    &:last-of-type {@include button($button-size: 'jumbo') }
  }
  .utilities #button-mixin button {
    &:first-of-type {@include button($button-color: 'green', $button-size: 'medium') }
    &:nth-of-type(2) {@include button($button-size: 'medium', $c: white, $bgc: $c-red, $bgc-hover: lighten($c-red, 10%)) }
    &:nth-of-type(3) {@include button($button-color: 'orange', $font-size: 11px, $lines: 7, $lines-horizontal-padding: 3) }
  }
  ul.swatches {
    h3 {@include trailer($font-size: $fs-h3, $lines: 4); }
    > ul {@include trailer(8);}
    li[class^="c-"] {
      margin-right: .5em;
      width: 9em; height: 9em;
      display: inline-block;
      position: relative;
      &:before {
        position: absolute;
        left: .5em; top: .4em;
        font-family: 'Consolas';
        @include adjust-font-size-to(12px, 3.5);
        background-color: $c-smoke;
        border: $c-divider;
        padding-top: .25em;
        padding-left: rhythm($font-size: 12px, $lines: 1);
        padding-right: rhythm($font-size: 12px, $lines: 1);
      }
      &.c-black {
        background-color: $c-black; 
        &:before { content: "$c-black" }
      }
      &.c-gray {
        background-color: $c-gray; 
        &:before { content: "$c-gray" }
      }
      &.c-light-gray {
        background-color: $c-light-gray; 
        &:before { content: "$c-light-gray" }
      }
      &.c-green {
        background-color: $c-green; 
        &:before { content: "$c-green" }
      }
      &.c-orange {
        background-color: $c-orange;
        &:before { content: "$c-orange" }
      }
      &.c-red {
        background-color: $c-red;
        &:before { content: "$c-red" }
      }
    }
  }
  
}


