<div id="styleguide">
  <div id="styleguide_notes">
    <h2 class="label">Goals</h2>
    <ul>
      <li>To separate presentation from content in the markup by keeping it free of presentational classes, and in stylesheets by avoiding defining presentational concepts directly on classes, ID's, and tag names that appear in the markup.</li>
      <li>To allow for flexibility in the appearance of presentational concepts.</li>
    </ul>
    <h2 class="label">Why keep markup free of presentational classes?</h2>
    <p>Semantic markup means more understandable and less markup. This is good for accessibility and SEO. It also just makes sense to look for presentational information about a markup entity in its CSS.</p> 
    <p>Also, if a certain semantic entity is always associated with a set of classes, it's better to express that relationship once in the CSS than repeatedly in templates. For example, if the Common Core ID is always gray, which is captured in the class <code>subdued-text</code>, rather than having to remember to always put the class <code>subdued-text</code> with the Common Core ID in the markup, it's better to just extend/include those helpers once in the CSS. That make it easier for us to write markup, and it also means that if we need to change the appearance of the Common Core ID we can just edit those helpers in the CSS rather than replacing all those classes in the markup.</p>
    <h2 class="label">Why avoid defining presentational concepts directly on markup entities?</h2>
    <p>Using <code>@extend</code> results in less CSS output. It also encourages reuse of presentational concepts.</p>
    <h2 class="label">Why allow for so much flexibility in the appearance of presentational concepts?</h2>
    <p>This is hopefully just a temporary thing, before we develop a standardized set of configurations for each presentational concept.</p>
    <h2 class="label">Folder structure</h2>
    <p>
      There are three folders in <code>stylesheets</code>: <code>library</code>, <code>foundation</code>, and <code>application</code>.
    </p>
    <h3 class="label">library/</h3>
    <p>Library contains only variables, mixins, functions, and placeholder selectors. This way any stylesheet can import library and make use of these helpers without duplicating CSS output. Library contains all style primitive definitions. For example, if the app uses a particular shade of green, the hexadecimal code for that shade would be defined in library like so: <code>$c-green: #849243</code>.</p> 
    <p>Library also contains all design concept definitions, where design concepts are defined in terms of style primitives. For example, if the app makes use of dividers between blocks of content, the color of those dividers would be defined in library in terms of a style primitive like so: <code>$c-divider: $c-gray</code>.</p>
    <p>Library definitions are labeled in this styleguide with orange headings.</p>
    <h3 class="label">foundation/</h3>
    <p>Foundation contains style definitions of domain concepts, which are expressed in HTML through classes and ID's. Domain concepts are defined in terms of design concepts. For example, if the app has a concept of "student-input-box", the style for that concept would be defined in foundation like so: <code>.student-input-box { @extend %subdued-text, %shadow-box }</code>.</p> 
    <p>Foundation also contains style definitions of semantic entities, which are expressed in HTML through tag names. Semantic entities are also defined in terms of design concepts. For example, the style for the H1 tag would be defined in foundation like so: <code>h1 { @include adjust-font-size-to($fs-jumbo) }</code>.</p>
    <p>Foundation definitions are labeled in this styleguide with green headings.</p>
    <h3 class="label">application/</h3>
    <p>Application contains experimental and one-off styles.</p>
    <h2 class="label">How to read the styleguide</h2>
    <ul>
        <li>For any mixin argument, if no information is provided on the type of value it should be and its name corresponds to a CSS property, assume that it can be any valid CSS value for that property.</li>
    </ul>
  </div>
</div>